.container {
    border: 1px solid;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.result {
}